.blogs {
  padding: 0 0 8rem 0;
}

.blogs-card-title p {
  color: black;
  font-size: small;
  padding: 4px 4px 0 8px;
}

.blogs-card-date p {
  opacity: 0.5;
  font-size: smaller;
  padding: 4px 4px 0 8px;
}

.blogs-carousel {
  display: flex;
  gap: 8px;
}

.blogs-carousel div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--paragraph);
  opacity: 0.5;
  cursor: pointer;
}

.blogs-carousel .active {
  background-color: var(--primary);
  opacity: 1;
}
